<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Asistencias</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item color="primary">

    <ion-label style="text-align: center;">
      <h1 id="asig">{{tituloAsig}}</h1>
      <h1></h1>
      <p></p>
    </ion-label>

  </ion-item>

    <ion-list>

      <ion-item>
        <ion-label> Fecha </ion-label>
        <ion-label id="asis" slot="end"> Asistencia </ion-label>

      </ion-item>

      <ion-item>
        <ion-label><h1>12/10/2024</h1></ion-label>
        <ion-label id="asis" slot="end"><h1>Presente</h1></ion-label>
      </ion-item>

      <ion-item>
        <ion-label><h1>13/10/2024</h1></ion-label>
        <ion-label id="asis" slot="end"><h1>Presente</h1></ion-label>
      </ion-item>

      <ion-item>
        <ion-label><h1>19/10/2024</h1></ion-label>
        <ion-label id="asis" slot="end"><h1>Ausente</h1></ion-label>
      </ion-item>


    </ion-list>

  
</ion-content>
