<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Docente</ion-title>

    <ion-progress-bar color="secondary" type="determinate" ></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item color="primary">

    <ion-label style="text-align: center;">
      <h1>ASIGNATURAS</h1>
      <h1></h1>
      <p></p>
    </ion-label>

  </ion-item>
 
  <ion-list [inset]="true">

    <ion-item >
      
      <span type="button" (click)="nextPageListado(asignatura.algoritmos)"> 
      <ion-label >
        <h2>{{asignatura.algoritmos}}</h2>

        <p>{{sigla.algoritmos}}{{seccion.diurno2}}</p>
      </ion-label>
      </span>

      <ion-icon type="button" (click)="nextPageListado(asignatura.algoritmos)" color="primary" slot="start" name="list-circle" size="large">Lista</ion-icon>
  
      <ion-icon type="button" (click)="nextPageQR(asignatura.algoritmos, sigla.algoritmos, seccion.diurno2)" color="primary" slot="end" name="qr-code-outline" size="large"> </ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
      <ion-label (click)="nextPageListado(asignatura.estadistica)">{{asignatura.estadistica}}
        <p>{{sigla.estadistica}}{{seccion.diurno2}}</p>
      </ion-label>
      
      <ion-icon type="button" (click)="nextPageQR(asignatura.estadistica, sigla.estadistica, seccion.diurno2)" color="primary" slot="end" name="qr-code-outline" size="large"> </ion-icon>
      <ion-note slot="end"></ion-note>
    </ion-item>

  </ion-list>

</ion-content>
