<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-list>
    <ion-item>

      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
      </ion-avatar>

      <ion-label>
        <h1>Luis Mario Acevedo Sanchez</h1>
        <p><span class="date">25/08/2024</span></p>
      </ion-label>

    </ion-item>

  </ion-list>
</ion-content>
