<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button (click)="goBackPerfilDocente()"></ion-back-button>
    </ion-buttons>

    <ion-title>listado</ion-title>

    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item color="primary">

    <ion-label style="text-align: center;">
      <h1 id="asig">{{tituloAsigDoc}}</h1>
      <h1></h1>
      <p></p>
    </ion-label>

  </ion-item>

  <ion-list>
    <!-- Usamos *ngFor para recorrer y mostrar los alumnos -->
    <ion-item *ngFor="let alumno of objAlumnos">
      <ion-label>{{alumno}}</ion-label>
      <ion-checkbox checked="true" slot="end">Presente</ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

