<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- aqui comienzan los contenidos de la app -->

  <div class="flex-center">

    <ion-card >
      <ion-card-header>
  
        <div style="text-align: center;">
          <ion-card-title>Identifiquese</ion-card-title>
          <br>
          <ion-icon name="person-circle" size="large"></ion-icon>
          <br><br>
          <ion-card-subtitle>Ingrese sus datos para iniciar sesión</ion-card-subtitle>
        </div>
  
      </ion-card-header>
    
      <ion-card-content >
        
          <form [formGroup]="usuario">
            <ion-input formControlName="user" label="Correo" type="email" label-placement="floating" fill="outline" placeholder="Ingrese su correo electronico"></ion-input>
    
            <br>
    
            <ion-input formControlName="pass" label="Contraseña" type="password" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña"></ion-input>

            <br>
            <ion-button type="submit" (click)='navegarExtras()' expand="block" color="success">Ingresar</ion-button>
            
          </form>
  
          
  
          <ion-button fill="clear" expand="block" color="medium">Olvide mi contraseña</ion-button>
          <br>  
  
          <!--  
          <ion-button [routerLink]="['/home']" expand="block" color="danger">Volver al home</ion-button> <-!--navegar al directorio /home--|>

          <ion-button (click)='navegar()' expand="block">Al home</ion-button> 
          <-!-- luego del click activa la funcion navegar que redirige al directorio /home usando typescript en la pagina nombre_pagina.page.ts --|>
  
          -->
      
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
