<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">Identificate</ion-card-title>
      <ion-card-subtitle style="text-align: center;">Ingresa tu usuario y contraseña</ion-card-subtitle>
    </ion-card-header>

    <ion-avatar style="align-items: center;">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" style="align-items: center;"/>
    </ion-avatar>

    <br>

    <ion-input label="usuario" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <br>
    <ion-input label="usuario" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    
    <ion-button expand="block; ">Ingresar</ion-button>

    <ion-card-content>
      




    </ion-card-content>
  </ion-card>

</ion-content>
