<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-list>
    <ion-item>

      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
      </ion-avatar>

      <ion-label>
        <h1>Luis Mario Acevedo Sanchez</h1>
        <p><span class="date">25/08/2024</span></p>
      </ion-label>

    </ion-item>

  </ion-list>

  <ion-card>
    <ion-card-header>

      <div style="text-align: center;">

        <ion-card-title>Escanea el codigo QR</ion-card-title>
        <br>

        <qrcode

        [qrdata]="qrCodeString" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">

        </qrcode>

      </div>

    </ion-card-header>
  
    <ion-card-content style="align-items: center;">
      
      <div style="text-align: center;">
        <ion-button 
          expand="block" 
          color="primary"
          (click)="startScan()">Comenzar

        </ion-button> 
      </div>

    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label class="ion-text-wrap">Resultado de escaneo: {{scannedResult}} </ion-label>
  </ion-item>

</ion-content>